{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}

    <div class="container-fluid p-6">
        <div class="container">
            <h1 style="text-align: center; padding-top: 40px;font-family: 'Summer Love'">Slogan d'une agence de voyage</h1>
        </div>
    </div>




{% endblock %}
