{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="container">
            <h1 style="text-align: center; padding-top: 40px;font-family: 'Arial Black'">
                A propos de l'agence de voyage
            </h1>
        </div>
    </div>
    <div class="container-fluid" style="padding: 20px">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: center" >
                    <img src="/asset/img/about/1.jpg"width="400" height="304">
                </div>
                <div class="col-md-6">
                    <h2  style="text-align: center">Qui sommes-nous?</h2>
                    <p style="text-align: justify">Notre agence locale à Madagascar, basée à Antananarivo,
                        regroupe des spécialistes
                        qui peuvent se targuer de connaître Madagascar dans ses moindres recoins.
                        Notre équipe se compose bien sûr de Malgaches mais aussi de Français ayant eu
                        à une étape de leur vie un coup de cœur irréversible pour Madagascar.
                        Notre point commun à tous est notre passion pour l’Île Rouge et ses richesses.
                        Nous souhaitons avant tout vous faire découvrir notre Grande Île telle que nous
                        la connaissons et l’aimons, de préférence hors des sentiers battus.

                        Depuis sa création en 1995, notre agence travaille à l’élaboration de voyages et
                        séjours sur mesure à Madagascar pour ceux qui aiment voyager en liberté tout en
                        bénéficiant de la qualité et de la sécurité qu’offre une organisation professionnelle.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding: 20px">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2  style="text-align: center">Historique</h2>
                    <p style="text-align: justify">Notre agence locale à Madagascar, basée à Antananarivo,
                        regroupe des spécialistes
                        qui peuvent se targuer de connaître Madagascar dans ses moindres recoins.
                        Notre équipe se compose bien sûr de Malgaches mais aussi de Français ayant eu
                        à une étape de leur vie un coup de cœur irréversible pour Madagascar.
                        Notre point commun à tous est notre passion pour l’Île Rouge et ses richesses.
                        Nous souhaitons avant tout vous faire découvrir notre Grande Île telle que nous
                        la connaissons et l’aimons, de préférence hors des sentiers battus.

                        Depuis sa création en 1995, notre agence travaille à l’élaboration de voyages et
                        séjours sur mesure à Madagascar pour ceux qui aiment voyager en liberté tout en
                        bénéficiant de la qualité et de la sécurité qu’offre une organisation professionnelle.
                    </p>
                </div>
                <div class="col-md-6" style="text-align: center">
                    <img src="/asset/img/about/2.jpg"width="400" height="304">
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; text-align: center; font-weight: bold">CONSEILS DE VOYAGE</h1>

            <div class="row">
                <h2>Que faire à Madagascar ?</h2>
                <div class="col-md-6">
                    <div class="mt-4 p-3 bg-primary text-white rounded">
                        <h3 style="text-align: center;">Découverte</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-4 p-3 bg-primary text-white rounded">
                        <h3 style="text-align: center;">Rencontre</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <h2 style="padding-top: 20px">Infos pratiques:</h2>
                <div class="col-md-3">
                    <div class="mt-4 p-3 bg-secondary text-white rounded">
                        <h3 style="text-align: center;">Saison pour visiter Madagascar ?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mt-4 p-3 bg-secondary text-white rounded" >
                        <h3 style="text-align: center;">Les guides locaux sont-ils indispensables ?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mt-4 p-3 bg-secondary text-white rounded" >
                        <h3 style="text-align: center;">Téléphone, Internet et GPS, ça fonctionne ?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mt-4 p-3 bg-secondary text-white rounded" >
                        <h3 style="text-align: center;">D’autres conseils sur Madagascar et atout ?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <h2 style="padding-top: 20px">Comment se passe l'enregistrement dans l'agence?</h2>
                <div style="text-align: justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-3 bg-secondary text-white rounded" >
                        <h3 style="text-align: center;">Un visa pour voyager:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-3 bg-secondary text-white rounded" >
                        <h3 style="text-align: center;">Pendant le voyage:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-3 bg-secondary text-white rounded" >
                        <h3 style="text-align: center;">Après le voyage:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-3 bg-secondary text-white rounded" >
                        <h3 style="text-align: center;">Le paiement du voyage:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-3 bg-secondary text-white rounded" >
                        <h3 style="text-align: center;">Assurances voyage:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-3 bg-danger text-white rounded" >
                        <h3 style="text-align: center;">En cas d’annulation:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <h2 style="padding-top: 20px">Hébergement</h2>
                <div class="col-md-8">
                    <div class="mt-4 p-3 bg-danger text-white rounded" >
                        <div>
                            <h3 style="text-align: center;">Quels types d’hébergement sont proposés ?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                        </div>
                        <div>
                            <h3 style="text-align: center;">Quand faut-il réserver ?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                        </div>
                        <div>
                            <h3 style="text-align: center;">Des hébergements de charme à Madagascar ?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-3 " >
                        <br><br><br><br>
                        <img src="/asset/img/about/4.jpg"width="400" height="304">
                    </div>
                </div>
            </div>

            <div class="row">
                <h2 style="padding-top: 20px">Famille</h2>
                <div class="col-md-8">
                    <div class="mt-4 p-3 bg-info text-white rounded" >
                        <div>
                            <h3 style="text-align: center;">Que faire à Madagascar avec les enfants ?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                        </div>
                        <div>
                            <h3 style="text-align: center;">Les enfants paient moins cher ?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                        </div>
                        <div>
                            <h3 style="text-align: center;">Quelles précautions pour les enfants ?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-3 " >
                        <br><br><br><br>
                        <img src="/asset/img/about/5.jpg"width="400" height="304">
                    </div>
                </div>
            </div>

            <div class="row"  style="padding-bottom: 30px">
                <div class="col-md-6">
                    <div class="mt-4 p-3 bg-primary text-white rounded" >
                        <h3 style="text-align: center;">La sécurité à Madagascar</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-4 p-3 bg-success text-white rounded" >
                        <h3 style="text-align: center;">La santé à Madagascar ?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-4 p-3 bg-warning text-white rounded" >
                        <h3 style="text-align: center;">Gastronomie à Madagascar?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-4 p-3 bg-info text-white rounded" >
                        <h3 style="text-align: center;">Où faire du change ?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mt-4 p-3 bg-dark text-white rounded" >
                        <h3 style="text-align: center;">Transport</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mt-4 p-3 bg-secondary text-white rounded" >
                                    <h3 style="text-align: center;">Comment faire pour les vols ?</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mt-4 p-3 bg-secondary text-white rounded" >
                                    <h3 style="text-align: center;">Quel réseau routier ?</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<div class="container-fluid">
    <div class="container">
        <h2 style="font-weight: bold; text-align: center; padding-top: 15px">Notre équipes</h2>
        <div class="row">
            <div class="col-md-4">
                <div style="text-align: center">
                    <img src="/asset/img/about/equipe/1.jpg"width="100" height="auto"><br>
                    <h3 class="bg-warning">Directeur Générale</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center" >
                    <img src="/asset/img/about/equipe/2.jpg"width="100" height="auto"><br>
                    <h3 class="bg-warning" >Directrice</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center" >
                    <img src="/asset/img/about/equipe/3.jpg"width="100" height="auto"><br>
                    <h3 class="bg-warning">Comptable</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div style="text-align: center" >
                    <img src="/asset/img/about/equipe/4.jpg"width="100" height="auto"><br>
                    <h3 class="bg-warning">Directrice RH</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div style="text-align: center" >
                    <img src="/asset/img/about/equipe/5.jpg"width="100" height="auto"><br>
                    <h3 class="bg-warning">Sécrétaire</h3>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
