{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row" style="padding: 30px">
            <div class="col-md-8">
                <div class="border border-dark">
                    <h1 style="padding-top:10px;text-align: center;font-family: Summer; font-size: 40px;">Nom de l'agence de voyage</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div style="text-align: center; font-size: 20px;">
                                <p style="padding: 10px"><i class="fab fa-globe">&nbsp;www.agence-local.mg</i></p>
                                <p style="padding: 10px"><i class="fab fa-facebook-f">&nbsp;Facebook</i></p>
                                <p style="padding: 10px"><i class="fab fa-instagram">&nbsp;Instagram</i></p>
                                <p style="padding: 10px"><i class="fab fa-twitter">&nbsp;Twitter</i></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="text-align: center; font-size: 20px;">
                                <p style="padding: 10px"><i class="fab fa-envelope">&nbsp;agence@gmail.com</i></p>
                                <p style="padding: 10px"><i class="fab fa-youtube ">&nbsp;You Tube</i></p>
                                <p style="padding: 10px"><i class="fab fa-linkedin">&nbsp;LinkedIn</i></p>
                                <p style="padding: 10px"><i class="fab fa-skype">&nbsp;Skype</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border border-dark">
                    <h1 style="padding-top:10px;text-align: center;font-family: 'Arial'">COORDONNEES</h1>
                    <div style="text-align: center; font-size: 20px;">
                        <p class="bg-secondary" style="margin: 15px; padding: 8px"><i class="fab fa-map-location-dot">&nbsp;Adresse Agence</i></p>
                        <p class="bg-secondary" style="margin: 15px; padding: 8px"><i class="fab fa-phone-intercom">&nbsp;020 000 000 00</i></p>
                        <p class="bg-secondary" style="margin: 15px; padding: 8px"><i class="fab fa-whatsapp">&nbsp;+261 37 00 000 00</i></p>
                        <p class="bg-secondary" style="margin: 15px; padding: 8px"><i class="fas fa-phone-alt">&nbsp;+261 37 00 000 00</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
