{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}

    <div class="container-fluid" style="padding: 40px">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded" >
                        <a href="#">SITES TOURISTIQUE</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded" >
                        <a href="#">HOTELS</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded" >
                        <a href="#">ACTIVITES</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded" >
                        <a href="#">VOITURES</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded" >
                        <a href="#">IDENTITE DE MADA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
