{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}

    <div class="container-fluid p-6">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                IDENTITE DE MADAGASCAR
            </h1>
            <h2>PROVINCES FIANARANTSOA: REGION AMORIN'I MANIA:</h2>
            <p>Les districts de AMORIN'I MANIA:</p>
            <div class="row" style="padding: 20px">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">    2. Ambatofinandrahana</a>
                        </div>
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">4. Ambositra</a>
                        </div>
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">6. Fandriana</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">17. Manandriana</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-primary text-white">
                    <img src="">
                    <div>
                        <h3>Démographie</h3>
                        <p>Population :  4 142 444 hab</p>
                        <p>Densité : 40 hab./km2</p>
                    </div>
                    <div>
                        <h3>Géographie</h3>
                        <p>Superficie :103 272 km2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
