{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}

    <div class="container-fluid p-6">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                IDENTITE DE MADAGASCAR
            </h1>
            <h2>PROVINCES MAJUNGA: REGION BOENY:</h2>
            <p>Les districts de BOENY:</p>
            <div class="row" style="padding: 20px">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">1. Ambatoboeny</a>
                        </div>
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">12. Mahajanga I</a>
                        </div>
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">13. Mahajanga II</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">17. Marovoay</a>
                        </div>
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">18. Mitsinjo</a>
                        </div>
                        <div class="col-md-4 bg-dark text-white">
                            <a href="#">20. Soalala</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-primary text-white">
                    <img src="">
                    <div>
                        <h3>Démographie</h3>
                        <p>Population : 2 224 570 hab</p>
                        <p>Densité : 15 hab./km2</p>
                    </div>
                    <div>
                        <h3>Géographie</h3>
                        <p>Superficie :	150 023 km2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
