{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
            LES PRINCIPAUX LIEUX TOURISTIQUES DE MADGASCAR, A VISITER
        </h1>
        <h2>Les meilleurs activités à faire:</h2>
        <div class="row" style="padding-bottom: 30px">
            <h3>1. TREKKING/RANDO:</h3>
            <div class="col-md-6">
                <img src="">
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                <h4>Lieu:</h4>
                <p>- Lieu 1 <br> - Lieu 2 <br> - Lieu 3 <br> - Lieu 3</p>
            </div>
        </div>
        <div class="row" style="padding-bottom: 30px">
            <h3>2. PLONGEE:</h3>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                <h4>Lieu:</h4>
                <p>- Lieu 1 <br> - Lieu 2 <br> - Lieu 3 <br> - Lieu 3</p>
            </div>
            <div class="col-md-6">
                <img src="">
            </div>
        </div>
        <div class="row" style="padding-bottom: 30px">
            <h3>3. ECOTOURISME:</h3>
            <div class="col-md-6">
                <img src="">
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                <h4>Lieu:</h4>
                <p>- Lieu 1 <br> - Lieu 2 <br> - Lieu 3 <br> - Lieu 3</p>
            </div>
        </div>
        <div class="row" style="padding-bottom: 30px">
            <h3>4. FAUNE ET FLORE:</h3>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                <h4>Lieu:</h4>
                <p>- Lieu 1 <br> - Lieu 2 <br> - Lieu 3 <br> - Lieu 3</p>
            </div>
            <div class="col-md-6">
                <img src="">
            </div>
        </div>
        <div class="row" style="padding-bottom: 30px">
            <h3>5. BALEINES:</h3>
            <div class="col-md-6">
                <img src="">
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                <h4>Lieu:</h4>
                <p>- Lieu 1 <br> - Lieu 2 <br> - Lieu 3 <br> - Lieu 3</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
