{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES PRINCIPAUX LIEUX TOURISTIQUES DE MADGASCAR, A VISITER
            </h1>
            <div class="row" style="padding-bottom: 30px">
                <h3>1. Contempler “l'allée des baobabs”:</h3>
                <div class="col-md-6" style="text-align: center">
                    <img src="/asset/img/voyage/top/lieu/1.jpg"width="300" height="auto">
                </div>
                <div class="col-md-6">
                    <p>L'allée des Baobabs est aussi la porte d'entrée aux Aires protégées situées au Nord de Morondava et se trouvant sur la piste de Belo sur Tsiribihina.</p>
                    <p>Vous pourrez également visiter :</p>
                    <p>La Réserve Spéciale d’Andranomena et l'Aire protégée du Menabe Antimena où se trouvent, le camp de Kirindy, le lac Bedo, ainsi que d'autres sites écotouristiques.</p>
                </div>
            </div>
            <div class="row" style="padding-bottom: 30px">
                <h3>2. Plongée sous-marine dans les profondeurs de l'Océan indien de Nosy Bé :</h3>
                <div class="col-md-6">
                    <p>Les sites de plongée sous marine de l’île aux parfums (Nosy Bé) sont réputés mondialement et il est fréquent de côtoyer dans les profondeurs d’inoffensifs requins-baleine, des raies manta ou des tortues marines. </p>
                    <p>La barrière de corail réserve de superbes plongées à proximité d'îles désertes posées sur des lagons émeraudes et turquoises. </p>
                    <p>Ces lieux fréquentés uniquement par les pêcheurs locaux en pirogues sont restés intacts. </p>
                    <p>La proximité des grandes fosses du Canal du Mozambique permet aussi de somptueuses rencontres : barracudas, thazards, requins, carangues, raies, tortues et même, au moment des migrations, des baleines à bosses…</p>
                </div>
                <div class="col-md-6" style="text-align: center">
                    <img src="/asset/img/voyage/top/lieu/2.jpg"width="500" height="auto">
                </div>
            </div>
            <div class="row" style="padding-bottom: 30px">
                <h3>3. Explorer la réserve d'Andasibe à la recherche de l'indri :</h3>
                <div class="col-md-6" style="text-align: center">
                    <img src="/asset/img/voyage/top/lieu/3.jpg"width="350" height="auto">
                </div>
                <div class="col-md-6">
                    <p>cette réserve se trouve à 140 km de Tananarive et 200 km de Tamatave.</p>
                    <p>La réserve est dédiée à la protection du plus grand lémurien malgache : le Indri indri, le plus grand des lémuriens (70 cm).</p>
                    <p>Ces vocalisations modulées et puissantes s’entendent à plus de 2 km. </p>
                    <p>Un parc à orchidées est également ouvert au public.</p>
                    <p>Des sentiers pédestres aménagés parmi les collines basses permettent de visiter facilement cette aire protégée.</p>
                </div>
            </div>
            <div class="row" style="padding-bottom: 30px">
                <h3>4. Escalader les célèbres Tsingy de Bemaraha</h3>
                <div class="col-md-6">
                    <p>En voiture : De Morondava à Bekopaka [porte d'entrée du Sud du Parc], 200 km de piste en terre.</p>
                    <p>Les Tsingy présentent des formes de cathédrales de calcaires sculptées par l'acidité des pluies. </p>
                    <p>Il y a 300 ans, les Tsingy ont servi d'abri pour les " vazimba ", les premiers occupants de Madagascar. </p>
                    <p>Et, aujourd'hui ils deviennent un lieu de culte et de cérémonie (tromba et tombeaux) pour la population riveraine. </p>
                    <p>Etant donné que ces roches calcaires présentent une hydrologie karstique complexe, les Tsingy jouent le rôle de Château d'eau pour la région.</p>
                </div>
                <div class="col-md-6" style="text-align: center">
                    <img src="/asset/img/voyage/top/lieu/4.jpg"width="500" height="auto">
                </div>
            </div>
        </div>
    </div>









{% endblock %}