{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
            LES MONUMENTS CLASSES MONDIALE
        </h1>
        <p>Madagascar compte 146 sites et monuments classés dont seulement 27 ont été restaurés a ce jour.
            Certains font maintenant partie de l’héritage mondial, comme :</p>
        <div class="row" style="font-weight: bold; text-align: center;font-size:20px;padding-bottom: 30px">
            <div class="col-md-6">
                <div class="border border-dark mt-2 p-2">
                    <img src="/asset/img/voyage/top/monument/1.jpg"width="400" height="auto"> <br>
                    <a style="color: #146c43;text-decoration:none;" href="#">La Colline Royale D'Ambohimanga</a>
                    <br><div class="btn btn-info">
                        <a style="color: #000000;text-decoration:none;href="#">
                        Voir
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="border border-dark mt-2 p-2">
                    <img src="/asset/img/voyage/top/monument/2.jpg"width="400" height="auto"> <br>
                    <a style="color: #146c43;text-decoration:none;" href="#">Les Tsingy du Bemaraha</a>
                    <br><div class="btn btn-info">
                        <a style="color: #000000;text-decoration:none;href="#">
                        Voir
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="border border-dark mt-2 p-2">
                    <img src="/asset/img/voyage/top/monument/3.jpg"width="400" height="auto"> <br>
                    <a style="color: #146c43;text-decoration:none;" href="#">Les Falaises & Grottes D'Isandra</a>
                    <br> <div class="btn btn-info">
                        <a style="color: #000000;text-decoration:none;href="#">
                        Voir
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="border border-dark mt-2 p-2">
                    <img src="/asset/img/voyage/top/monument/4.jpg"width="400" height="auto"> <br>
                    <a style="color: #146c43;text-decoration:none;" href="#">L'Arrière Pays Mahafaly</a>
                    <br><div class="btn btn-info">
                        <a style="color: #000000;text-decoration:none;href="#">
                        Voir
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









{% endblock %}