{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="container">
            <div>
                <h2 style="text-align: center">CULTURE MADAGASCAR</h2>
                <div style="text-align: justify">
                <p>Île fascinante par définition, Madagascar recèle bien des mystères qu’il serait impossible de tous révéler en quelques lignes. Ce ne sont pas dix, mais, cent, mille choses qu’il faudrait savoir sur ce pays merveilleux qui se distingue tant du reste du monde, surtout du point de vue de la faune et de la flore, à tel point qu’on l’a surnommé le 8ème continent. </p>
                <p>Longtemps ignorée par les touristes, cette île attire néanmoins aujourd’hui de plus en plus de visiteurs qui en repartent généralement sous le charme. Encore préservée du tourisme de masse, elle est restée une destination authentique que Madagascar Autrement vous invite à découvrir, pour la singularité de sa nature mais aussi pour ses cultures variées. </p>
                <p>Entre des plages de sable blanc baignées d’eaux turquoise, des rizières d’un vert profond, des forêts tropicales, des coins de savanes et des hauts plateaux, Madagascar possède un écosystème unique au monde. </p>
                <p>N’oubliez pas la culture cependant car Madagascar est là aussi d’une richesse difficilement égalée. Durant vingt siècles, l’île a accueilli des peuples venant d'horizons divers : Afrique, Sud-Est asiatique, Moyen-Orient, Europe… pour créer la société pluriculturelle malgache d’aujourd’hui. </p>
                </div>
                <div style="text-align: center; padding-bottom: 20px">
                    <img src="/asset/img/mada/culture/1.jpg"width="800" height="auto">
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h3> Des traditions multiples et variées</h3>
                        <div style="text-align: justify">
                        <p>Ce pays d’environ 25 millions d’habitants est donc très divers sur le plan culturel. Il ne compte pas moins de 18 ethnies distinctes, parlant des langues d’origine austronésiennes. </p>
                        <p>Il n’est pas étonnant d’apprendre que chaque ethnie a des tabous et des interdits différents (fady). Ici, on ne porte pas la couleur rouge, là, on ne mange pas d’oignons, ailleurs, on ne travaille pas le lundi ou on ne mange pas d’anguille… Ces fady se transmettent de génération en génération et la majorité de la population observe encore ces règles. </p>
                        <p>Les garçons malgaches sont quasiment tous circoncis. Il y a une réelle tradition de la circoncision sur toute l’île mais elle revêt des formes et méthodes différentes selon les régions. Il s’agit d’un rite initiatique traditionnel encore vivace. Individuel sur les Hauts-Plateaux, ce rite se pratique de façon collective dans le sud-est, où il donne lieu parfois à des festivités qui durent un mois. </p>
                        <p>La culture de Madagascar désigne d'abord les pratiques culturelles patentes de sa vaste population. Cette culture reflète les différentes vagues de peuplement à travers les siècles. Néanmoins, tous ces Malgaches aux cultures hétérogènes observent le même geste de respect lorsqu’ils se croisent : ils s’inclinent. </p>
                        </div>
                        </div>
                </div>
                <div class="col-md-6" style="text-align: center">
                    <br> <img src="/asset/img/mada/culture/2.jpg"width="400" height="auto"><br><br><br>
                    <img src="/asset/img/mada/culture/22.jpg"width="400" height="auto">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: center">
                    <br><br><br><br><img src="/asset/img/mada/culture/3.jpg"width="500" height="auto">
                </div>
                <div class="col-md-6">
                    <div>
                        <h3>Le pays où l’on retourne les morts</h3>
                        <div style="text-align: justify">
                        <p>Ce 8ème continent est à la croisée de l’Asie et de l’Afrique. Les premiers habitants sont arrivés il y a environ 500 ans avant JC non pas d’Afrique par le canal de Mozambique, mais de l’autre côté de l’Océan Indien, de Bornéo, dans l’actuelle Indonésie. Un sacré périple pour l’époque ! </p>
                        <p>Madagascar est le seul pays où l’on pratique le « retournement des morts ». Sur les Hautes Terres, même si cela se perd à cause de son coût, la saison des famadihana se déroule de juin à septembre. Au programme de ces festivités, on boit, on mange, on danse et on sacrifie au moins un zébu. </p>
                        <p>La fête se termine par l’ouverture du tombeau familial et les ancêtres sont « retournés » pour être vêtus d’un nouveau linceul fait avec de la soie sauvage. Les Malgaches, particulièrement ceux des Hauts-Plateaux, ensevelissent leurs morts dans ces linceuls appelés lambamena. </p>
                        <p>Les Malgaches ont le culte des ancêtres. Certes, ce n’est pas la seule culture au monde qui pratique des rituels liés aux aïeux mais ce culte a donné lieu à un art funéraire d’une grande richesse qui s’inscrit dans un artisanat local déjà très varié. </p>
                        </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h3>Le zébu, ce signe extérieur de richesse</h3>
                        <div style="text-align: justify">
                        <p>Mora, mora ! Vous entendrez souvent ces deux mots… Que veulent-ils dire ? Littéralement, on pourrait traduire par « doucement, doucement » mais c’est surtout une manière d’appréhender la vie et le rythme malgaches. Laissez le stress urbain derrière vous et surtout, quoiqu’il arrive : Take it easy ! </p>
                        <p> Le zébu est un signe de richesse et donc il est très important. Avec le riz, c’est un des deux symboles du pays. Ces bovins, dont la viande est consommée en abondance, sont presque aussi nombreux que la population humaine. </p>
                        <p>Et pour terminer, en vrac : la capitale Antananarivo, située à 1300m d’altitude, peut s’appeler plus simplement « Tana ». Malgré sa taille importante (587 000 km2), l’île ne possède qu’un très modeste réseau ferré de 854km. Madagascar était un paradis des pirates entre les 17ème et 18ème siècles. Anartatia, la première colonie anarchiste de l’histoire y a été fondée à la fin du 17ème siècle… </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: center">
                    <br><br><img src="/asset/img/mada/culture/4.jpg"width="400" height="auto">
                </div>
            </div>
        </div>
    </div>


{% endblock %}
