{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>


{% endblock %}
