{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="container">
            <div style="text-align: center;padding: 20px">
                <h2 style="font-weight: bold">FAUNE ET FLORE</h2>
                <p>La faune et la flore de Madagascar sont d’une richesse incomparable. Elle est considérée par tous les scientifiques comme un sanctuaire de la nature et le berceau d’espèces endémiques de l’île. En effet, vous y trouverez des espèces uniques au monde avec près de 7 variétés de baobabs, 19 000 espèces végétales et une faune de plus de 100 000 espèces. Cette originalité exceptionnelle est notamment dûe à sa situation isolée au milieu de l’océan Indien. C’est donc un voyage haut en couleurs qui vous attend !</p>
            </div>

            <div class="row">
                <div style="text-align: justify">
                    <h2>FLORE:</h2>
                    <h3>Histoire de la flore de Madagascar</h3>
                    <p>Madagascar a la particularité d’avoir une terre très fertile où tout pousse. L’île comporte 80% à 90% d’espèces endémiques parmi toutes les plantes répertoriées. Du fait de sa situation isolée en plein océan Indien, Madagascar a vu prospérer de nombreuses espèces de plantes et d’animaux. Le niveau d’endémisme est tel qu’on y trouve pas moins de douze familles entières de plantes uniquement présentes sur l’île. Cette biodiversité endémique est également due à une variété des climats : des régions les plus arides aux régions saturées en humidité.
                        La richesse de la terre vous permettra ainsi de découvrir des espèces hors du commun telles que des orchidées, les baobabs, les palmiers, le ravenala, le jasmin de Madagascar ou encore des plantes succulentes.</p>
                </div>
                <div class="col-md-6">
                    <div class="border border-dark mt-3 p-3">
                        <h4>Jasmin de Madagascar</h4>
                        <p style="text-align: justify">Le jasmin de Madagascar (ou stephanotis floribunda) est originaire des sous-bois de l’île. Il a une symbolique cérémoniale associée au bonheur conjugal. En couronne des mariés, en guirlande ou en liane de mariage, c’est le porte-bonheur des couples. Vous pourrez humer son doux parfum au détour de vos randonnées en forêt.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="text-align: center">
                        <img src="/asset/img/mada/fauneflore/1.jpg"width="300" height="auto">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border border-dark mt-3 p-3">
                        <h4>Ravenala, l’arbre du voyageur</h4>
                        <p style="text-align: justify">Espèce endémique de l’île, c’est aussi la seule espèce du genre. C’est aujourd’hui un symbole du pays, vous le retrouverez notamment sur les pièces de monnaie, et le logo de Air Madagascar. Si vous sentez l’âme d’un aventurier, vous pourrez extraire à la machette et boire la sève du Ravenala. Abondante et savoureuse, elle régalera vos randonnées en forêt.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div  style="text-align: center">
                        <img src="/asset/img/mada/fauneflore/2.jpg"width="300" height="auto">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border border-dark mt-3 p-3">
                        <h4>La mangrove</h4>
                        <p style="text-align: justify"> mangrove plante endémique madagascar
                            La mangrove
La mangrove est une formation végétale typique des côtes marécageuses tropicales soumises à l’alternance des marées. Vous pourrez les arpenter sur la côte ouest de l’île. C’est un lieu à ne pas rater car les mangroves de Madagascar font partie des formations écologiques les plus représentatives de la biodiversité planétaire !
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="text-align: center">
                        <img src="/asset/img/mada/fauneflore/3.jpg"width="300" height="auto">
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom: 20px">
                <div style="text-align: justify">
                    <h2>FAUNE:</h2>
                    <h3>5 animaux fascinants endémiques</h3>
                    <p>Madagascar est l’un des hot-spots de la biodiversité de la planète. Terre d’endémicité, le pays possède une grande diversité d’habitats, où évoluent  près de 25 000 espèces uniques, faisant de lui un véritable laboratoire vivant. Certains de ces animaux fascinent les grands chercheurs du monde entier, justement parce qu’on ne les trouve qu’à Madagascar. Découvrons-les ensemble!</p>
                </div>
                <div class="col-md-6">
                    <div class="border border-dark mt-3 p-3">
                        <h4>La grenouille tomate</h4>
                        <p style="text-align: justify">La petite grenouille tomate est visible dans les régions chaudes et humides de Madagascar, notamment dans la région de Maroantsetra. Elle peuple les forêts, les garrigues, les zones côtières, les étangs, les marais, les canaux et les zones proches des rivières. Toutefois, on peut  l’apercevoir parfois dans des fermes ou en ville. Elle fait partie des espèces rares, dont la conservation est nécessaire pour sa survie.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="text-align: center">
                        <img src="/asset/img/mada/fauneflore/4.jpg"width="300" height="auto">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border border-dark mt-3 p-3">
                        <h4>Le Sifaka soyeux</h4>
                        <p style="text-align: justify">Réputé pour son épaisse fourrure crème, le Sifaka soyeux, vit dans les montagnes de Madagascar et est surnommé les « fantômes de la forêt ». Avec sa longue queue et sa fourrure dense et blanche, ce lémurien « vole comme un ange » selon les populations locales. Il se déplace principalement d’arbre en arbre et ses bonds peuvent atteindre 10 mètres. Ce primate se nourrit principalement de plus de 150 types de fleurs, fruits et graines différentes.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div  style="text-align: center">
                        <img src="/asset/img/mada/fauneflore/5.jpg"width="300" height="auto">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border border-dark mt-3 p-3">
                        <h4>L’indri-indri</h4>
                        <p style="text-align: justify"> Rendue célèbre par le film d’animation  » Madagascar  » de Dreamworks, l’Indri, de la famille des indridae est le plus grands des lémuriens de Madagascar. On le retrouve essentiellement dans les forêts pluviales de l’Est de la Grande île. Au Parc National d’Andasibe sur la RN2, le « babakoto » une véritable attraction à part entière. Diurne, vivant en petit groupe de 2 à 10 individus ne dépassant pas un territoire de 7 ha, l’Indri est plutôt folivore. Son régime est constitué de 32 espèces de feuilles différentes, rendant ainsi son élevage en captivité impossible. Soit environ 1,5 Kg de feuilles par jour. </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="text-align: center">
                        <img src="/asset/img/mada/fauneflore/6.jpg"width="300" height="auto">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border border-dark mt-3 p-3">
                        <h4>Le fosa</h4>
                        <p style="text-align: justify"> Comparé à petit puma, le Fosa de Madagascar, aux allures de félin, fait partie des espèces endémiques du pays. C’est un animal essentiellement forestier et un excellent grimpeur. Il chasse aussi bien au sol que dans les arbres, de jour comme  de nuit. Le parc d’Andringitra et la forêt de Kirindy, sont des habitats naturels du « fosa ». Ses griffes semi rétractiles et ses coussinets lui permettent de se déplacer rapidement dans les arbres et de faire de grands bonds, sa longue queue lui servant de balancier.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="text-align: center">
                        <img src="/asset/img/mada/fauneflore/6.jpg"width="300" height="auto">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border border-dark mt-3 p-3">
                        <h4>L’aye-aye</h4>
                        <p style="text-align: justify">L’aye-aye est le plus gros primate nocturne du monde. cet animal est un étrange mélange entre rongeur, chauve-souris et pivert. Il est facilement reconnaissable par ses grandes oreilles rondes lui permettant de localiser ses proies à la manière des chauves-souris; sa fourrure brune et des poils blancs sur la tête et le dos. Considéré comme maléfique par les locaux, ce petit lémurien tirerait d’ailleurs son nom du malgache « heh heh » qui signifie « je ne sais pas ». Réponse qui aurait été donnée lorsqu’on les interrogeait au sujet de l’animal.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="text-align: center">
                        <img src="/asset/img/mada/fauneflore/7.jpg"width="300" height="auto">
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
