<form method="post" action="{{ path('app_site_touristique_delete', {'id': site_touristique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site_touristique.id) }}">
    <button class="btn">Delete</button>
</form>
