{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}
    <h1 style="font-family: Arial; font-weight: bold;text-align: center">Ajouter nouveau Site Touristique</h1>

    {{ include('site_touristique/_form.html.twig') }}
<div style="text-align: center; padding-bottom: 10px">
    <a class="btn btn-secondary text-white p-1 "style="text-decoration: none;" href="{{ path('app_site_touristique_index') }}">Retour</a>
</div>
{% endblock %}
