{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}

    <div class="container-fluid p-6">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                PROVINCES ANTANANARIVO: REGION BONGOLAVA
            </h1>
            <p>Les districts de BONGOLAVA:</p>
            <div class="row" style="padding: 20px">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mt-4 p-5 bg-dark rounded">
                            <a style="text-decoration:none;color: #FFFFFF" href="#">15. Fenoarivobe</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mt-4 p-5 bg-dark rounded">
                            <a style="text-decoration:none;color: #FFFFFF" href="#">19. Tsiroanomandidy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-primary text-white">
                    <img src="">
                    <div>
                        <h3>Démographie</h3>
                        <p>Population :  5 932 607  hab</p>
                        <p>Densité : 102 hab./km2</p>
                    </div>
                    <div>
                        <h3>Géographie</h3>
                        <p>Superficie :58 283 km2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
