{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES PRINCIPAUX LIEUX TOURISTIQUES DE FIANARANTSOA:
            </h1>
            <div class="row" style="padding-bottom: 30px">
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/4/1.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">La Vieille Ville</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/4/2.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Le tombeau royal de Vohitsisaky</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/4/3.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Le Massif d’Ifandana</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/4/4.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les forêts de Faliarivo</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/4/5.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">La Cascade de Sakaleona</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/4/6.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les Chutes d'Ambomamovoka</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}