{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES PRINCIPAUX LIEUX TOURISTIQUES DE MAJUNGA ou MAHAJANGA:
            </h1>
            <div class="row" style="padding-bottom: 30px">
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/2/1.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Baobab de la Ville</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/2/2.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Grottes d'Ankranoboka</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/2/3.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Le cimetière Sakalava</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/2/4.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Cirque Rouge</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/2/5.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les sépultures de Bekopaka</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/2/6.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#"> Les Gorges du Manambolo</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/2/7.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#"> Le Lac Sacré d’Ampijoroa</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}