{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES PRINCIPAUX LIEUX TOURISTIQUES DE TULEAR ou TOLIAR:
            </h1>
            <div class="row" style="padding-bottom: 30px">
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/6/1.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Le site de Saint Augustin</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/6/2.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Nosy Bé</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/6/3.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Le gisement de fossiles </a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/6/4.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les Grottes de Sarodrano</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/6/5.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">L’Allée des Baobabs</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/6/6.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les palmiers de Malio</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/6/7.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">La Baie de Sainte Luce</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/6/8.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Le Pic Saint Louis</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/6/9.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les falaises de Cap Sainte Marie</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}