{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES PRINCIPAUX LIEUX TOURISTIQUES DE MADGASCAR, A VISITER
            </h1>
            <h2 style="padding-bottom: 20px">Les sites touristiques par province:</h2>
            <p>Les principaux sites à visiter à FIANARANTSOA:</p>
            <div class="row" style="padding-bottom: 30px">
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#"> La Vieille Ville</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Le tombeau royal de Vohitsisaky</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Le Massif d’Ifandana</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Les forêts de Faliarivo et d’Ambohitsara</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">La Cascade de Sakaleona</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Les Chutes de Namorona</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}