{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES PRINCIPAUX LIEUX TOURISTIQUES DE TAMATAVE ou TOAMASINA:
            </h1>
            <div class="row" style="padding-bottom: 30px">
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/3/1.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#"> Les Cascades du Mangoro</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/3/2.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Le Lac Alaotra</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/3/3.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">La mare aux anguilles sacrées</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/3/4.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Le pont naturel de Manandra</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/3/5.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les souvenirs historiques de Farafaty</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/3/6.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les souvenirs historiques de Foulpointe</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/3/7.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les souvenirs historiques de Sainte Marie</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-2 mt-2" style="text-align: center;text-decoration: none">
                        <img src="/asset/img/voyage/top/site/3/8.jpg"width="200" height="auto"><br>
                        <a style="text-decoration: none; font-weight: bold; color: black;" href="#">Les souvenirs historiques de Nosy Mangabe</a><br>
                        <div  class="btn btn-info"><a href="#">Voir</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}