{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES PRINCIPAUX LIEUX TOURISTIQUES DE MADGASCAR, A VISITER
            </h1>
            <h2 style="padding-bottom: 20px">Les sites touristiques par province:</h2>
            <p>Les principaux sites à visiter à ANTANANARIVO (la capitale):</p>
            <div class="row" style="padding-bottom: 30px">
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#"> Le Palais de la Reine Ranavalona</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Les Plateaux du rova</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Les Temples commémoratifs</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">La Colline d’Antsahadinta</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#"> Les Chutes de Tsinjoarivo</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">La Montagne de Tsiafajavona</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Les vestiges de Jean Laborde à Mantasoa</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">La végétation Primitive d’Ibity près d’Antsirabe</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Le Lac Itasy</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}