{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES PRINCIPAUX LIEUX TOURISTIQUES DE MADGASCAR, A VISITER
            </h1>
            <h2 style="padding-bottom: 20px">Les sites touristiques par province:</h2>
            <p>Les principaux sites à visiter à MAJUNGA ou MAHAJANGA:</p>
            <div class="row" style="padding-bottom: 30px">
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#"> Le baobab emblème de la ville</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Les Grottes d’Andranoboka</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Le cimetière Sakalava de Nosy Lava</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Les arbres silicifiés d’Ankondromena</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Les sépultures de Bekopaka</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Les Gorges du Manambolo</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
                <div class="border border-dark col-md-3 p-5">
                    <img src="">
                    <a href="#">Le Lac Sacré d’Ampijoroa</a>
                    <div class="btn-info"><a href="#">Voir</a></div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}